#!/bin/bash

set -e

filename=$1

# Drop the database
docker run --rm \
  --link csentry_postgres:postgres \
  --net {{ csentry_network }} \
  -e PGPASSWORD='{{ csentry_postgres_password }}' \
  -i postgres:{{ csentry_postgres_tag }} \
  dropdb -h postgres -U {{ csentry_postgres_user }} {{ csentry_postgres_db }}

# Create the database
docker run --rm \
  --link csentry_postgres:postgres \
  --net {{ csentry_network }} \
  -e PGPASSWORD='{{ csentry_postgres_password }}' \
  -i postgres:{{ csentry_postgres_tag }} \
  createdb -h postgres -U {{ csentry_postgres_user }} {{ csentry_postgres_db }}

# Restore the dump
gunzip -c $filename | docker run \
  --rm --link csentry_postgres:postgres \
  --net {{ csentry_network }} \
  -e PGPASSWORD='{{ csentry_postgres_password }}' \
  -i postgres:{{ csentry_postgres_tag }} \
  psql -h postgres -U {{ csentry_postgres_user }} {{ csentry_postgres_db }}
