[uwsgi]
uid = {{csentry_user}}
gid = {{csentry_group}}
master = true
processes = {{csentry_processes}}
wsgi-disable-file-wrapper = true
chdir = /app
http-socket = 0.0.0.0:5000
buffer-size = {{csentry_uwsgi_buffer_size}}
mount = /csentry=wsgi.py
manage-script-name = true
callable = app
logformat = [pid: %(pid)] "%(method) %(uri)" => generated %(size) bytes in %(msecs) msecs (%(proto) %(status))
